<div >
  <h5>
    Edit Nut Job Account
  </h5>

  <% if @nut_job.errors.any? %>
  <% @nut_job.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
  <% end %>
  <div>
    <form action="/modify_nut_job" method="post">
                            
      <div>
        <label for="email_box">Email</label>
          
        <input id="email_box" name="query_email" value="<%= @current_nut_job.email %>">
          
      </div>
                      
      <div>
        <label for="password_box">Password</label>
          
        <input id="password_box" name="query_password" value="<%= @current_nut_job.password %>">
          
      </div>
                      
      <div>
        <label for="crazy_box">Crazy</label>
          
        <input id="crazy_box" name="query_crazy" value="<%= @current_nut_job.crazy %>">
          
      </div>
              
      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a new password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your new password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
